<app-nav-bar [panier]="displayPanier" (panierSelected)="showPanier($event)"></app-nav-bar>
<app-search-bar 
  (searchedText)="onSearchByKey($event)" 
  (categorySelected)="onCategorySelected($event)">
</app-search-bar>



<!-- Catalogue des produits -->
<div *ngIf="!displayPanier">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3" *ngFor="let produit of filteredProducts"> 
        <app-product-item [produit]="produit" ></app-product-item>
        <a [routerLink]="['/produit', produit.id]" class="btn btn-info">Voir les détails</a>
      </div>
    </div>
  </div>
</div>

<!-- Panier -->
<app-panier *ngIf="displayPanier" [detailsPanier]="detailProduit"></app-panier>


  

<div *ngIf="filteredProducts.length === 0">
  Aucun produit trouvé pour votre recherche ou votre catégorie sélectionnée.
</div>


