nav.navbar {
    background-color: #0b7af0; /* Custom dark blue background */
    
    .navbar-brand {
      color: #fff;
      font-weight: bold;
  
      &:hover {
        color: #cce5ff; /* Light blue on hover */
      }
    }
  
    .nav-link {
      color: #2e0fbd;        /* Couleur du texte */
      font-size: 18px;       /* Taille de la police agrandie */
      padding: 10px 20px;    /* Espacement interne pour le bouton */
      border: 2px solid #2e0fbd;  /* Cadre de 2px de la même couleur */
      border-radius: 5px;    /* Coins arrondis */
      text-align: center;    /* Centrer le texte dans le bouton */
      text-decoration: none; /* Supprimer le soulignement */
      display: inline-block; /* Rendre le lien comme un bouton */
      transition: background-color 0.3s ease, color 0.3s ease; /* Transition pour hover */
    }
    .disabled {
      pointer-events: none;
      opacity: 0.6;
    }
    
    .nav-link:hover {
      background-color: #2e0fbd; /* Couleur de fond au survol */
      color: white;              /* Changer la couleur du texte au survol */
    
    }
  }