<app-nav-bar [panier]="displayPanier" (panierSelected)="showPanier($event)"></app-nav-bar>

<div class="connexion-container">
  <h2>Connexion</h2>

  @if (errorMessage) {
    <div>{{ errorMessage }}</div>
  }
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" placeholder="Email" formControlName="email" />
    </div>
    <div>
      <input type="password" placeholder="Password" formControlName="password" />
    </div>
    <div>
      <button type="submit">Sign In</button>
      <a type="submit" routerLink="/signup">créer un compte</a>
    </div>
  </form>
</div>
