<app-nav-bar [panier]="displayPanier" (panierSelected)="showPanier($event)"></app-nav-bar>
<div class="signup-container">
    <h2>Créer un compte</h2>
  
    @if (errorMessage) {
        <div>{{ errorMessage }}</div>
      }
      
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <input type="text" placeholder="Username" formControlName="username" />
        </div>
        <div>
          <input type="text" placeholder="Email" formControlName="email" />
        </div>
        <div>
          <input type="password" placeholder="Password" formControlName="password" />
        </div>
        <div>
          <button type="submit">Sign Up</button>
        </div>
      </form>
  </div>
  
